:root {
  /* FONT SIZE */
  --font-size-xsmall: 0.8rem;
  --font-size-small: 1rem;
  --font-size-medium: 1.1rem;
  --font-size-subheading: 1.3rem;
  --font-size-semi-big: 1.5rem;
  --font-size-big: 1.9rem;
  --font-size-extrabig: 2.2rem;
  /* COLORS */
  --color-black: #000000;
  --color-big-title: #00212f;
  --color-blue: #003bff;
  --color-mint: #06ad8f;
  --color-mint-opacity: rgba(6, 173, 143, 0.3);
  --color-red: #ff0100;
  --color-yellow: #ffc600;
  --color-nav: #062839;
  --color-nav-opacity: rgba(6, 40, 57, 0.8);
  --color-white: #ffff;
  --color-gray: #5c5c5c;
  --color-lightgray: #d4d4d4;
  /* SPACING */
  --spacing-extra-big: 7rem;
  --spacing-big: 4rem;
  --spacing-medium: 2rem;
  --spacing-semi-medium: 1.5rem;
  --spacing-small: 1rem;
  --spacing-xsmall: 0.8rem;
  --spacing-xxsmall: 0.2rem;

  --leter-spacing-small: 0.2rem;

  /* ANIMATION */
  --menu-speed: 0.75s;
}

/* 
font-family: 'Lato', sans-serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Noto Sans KR', sans-serif;
 */

/* Overall----------------------------------------------- */
* {
  font-size: 16px;
  line-height: 1.5;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

ul,
li,
ol {
  list-style-type: none;
  padding-left: 0;
  margin-left: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

button:focus,
button:active,
input:focus,
input:active {
  outline: none;
  box-shadow: none;
}

button {
  border: none;
  border-radius: 2px;
  cursor: pointer;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
}

/* PAGE UP PAGE DOWN SCROLL MENU */

header,
nav {
  position: fixed;
  width: 100%;
  z-index: 2;
}

nav {
  top: 54px;
}

/* PAGE UP PAGE DOWN SCROOL MENU END */

/* ----------------------------------------------------- */

/* HEADER */

header {
  color: var(--color-white);
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  background-color: var(--color-nav);
  width: 100%;
}

.header {
  height: 54px;
  background-color: var(--color-nav);
  padding: 0 var(--spacing-medium);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__left,
.header__right {
  display: flex;
}

.header__left--email {
  margin-left: var(--spacing-big);
}

.header__right i {
  color: var(--color-white);
  font-size: var(--font-size-semi-big);
}

.header__right li:nth-child(2) {
  margin-left: var(--spacing-semi-medium);
}

/* Hamburger Menu */

.header__hamburger {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1;
}

.header__hamburger .toggler {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
  cursor: pointer;
  width: 50px;
  height: 50px;
  opacity: 0;
}

.header__hamburger .hamburger--line {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
  width: 60px;
  height: 60px;
  padding: 1rem;
  background: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Hamburger Line */
.hamburger--line > .line {
  position: relative;
  width: 100%;
  height: 2px;
  background-color: var(--color-white);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.4s ease;
}

/* Top and Bottom Line */
.header__hamburger .hamburger--line > .line:before,
.header__hamburger .hamburger--line > .line:after {
  content: "";
  position: absolute;
  z-index: 1;
  top: -10px;
  width: 100%;
  height: 2px;
  background: inherit;
}

/* Moves line down */
.header__hamburger .hamburger--line > .line:after {
  top: 10px;
}

/* Toggler animate */
.header__hamburger .toggler:checked + .hamburger--line > .line {
  transform: rotate(135deg);
}

/* Turn lines into X */
.header__hamburger .toggler:checked + .hamburger--line > .line:before,
.header__hamburger .toggler:checked + .hamburger--line > .line:after {
  top: 0;
  transform: rotate(90deg);
}

/* Rotate on hover when checked */
.header__hamburger .toggler:checked:hover + .hamburger--line > .line {
  transform: rotate(225deg);
}

/* Show Menu */

.header__hamburger .toggler:checked ~ .hamburger__menu {
  visibility: visible;
}

.header__hamburger .toggler:checked ~ .hamburger__menu > div {
  transform: scale(1);
  transition-duration: var(--menu-speed);
}

.header__hamburger .toggler:checked ~ .hamburger__menu > div > div {
  opacity: 1;
  transition: opacity 0.4s ease;
}

.header__hamburger .hamburger__menu {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  visibility: hidden;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header__hamburger .hamburger__menu > div {
  background: var(--color-nav);
  border-radius: 50%;
  width: 200vw;
  height: 200vw;
  display: flex;
  flex: none;
  align-items: center;
  justify-content: center;
  transform: scale(0);
  transition: all 0.4s ease;
}

.header__hamburger .hamburger__menu > div > div {
  text-align: center;
  max-width: 90vw;
  max-height: 100vh;
  opacity: 0;
  transition: opacity 0.4s ease;
}

.header__hamburger .hamburger__menu > div > div > ul > li {
  padding: var(--spacing-small);
}

.header__hamburger .hamburger__menu > div > div > ul > li > a {
  color: inherit;
  transition: color 0.4s ease;
  font-size: var(--font-size-semi-big);
  font-weight: 600;
}

.header__hamburger .hamburger__menu > div > div > ul > div {
  font-family: "Noto Sans KR", sans-serif;
  font-size: var(--font-size-big);
}

/* HEADER END */

/* ----------------------------------------------------- */

/* NAVIGATION */
.top {
  background-color: rgba(255, 255, 255, 0.9);
  width: 100%;
}

.top > .container > .menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 90px;
  text-align: center;
  padding: 0 var(--spacing-big);
  z-index: 1;
}

.menu__home--eng,
.menu__about--eng,
.menu__featured--eng,
.menu__kelowna--eng,
.menu__contactme--eng {
  font-family: "Noto Sans KR", sans-serif;
  font-weight: 600;
  color: var(--color-nav);
}

.menu__home--kor,
.menu__about--kor,
.menu__featured--kor,
.menu__kelowna--kor,
.menu__contactme--kor {
  font-family: "Noto Sans KR", sans-serif;
  color: var(--color-nav);
}

/* NAVIGATION END */

/* ----------------------------------------------------- */

/* MAIN BANNER */
.main {
  padding-top: 54px;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(img/kelowna_main_image.jpg);
  background-size: cover;
}

.main > .container > .banner {
  font-family: "Montserrat", sans-serif;
  color: var(--color-white);
  height: 640px;
  /* background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(img/kelowna_main_image.jpg); */
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.banner__logo img {
  width: 100px;
}

.banner__name {
  font-size: var(--font-size-extrabig);
  font-weight: 600;
  letter-spacing: var(--leter-spacing-me);
}

.banner__intro {
  position: relative;
}

.banner__intro span {
  font-size: var(--font-size-subheading);
  font-weight: 700;
}

/* Intro Animation */

.banner__intro--desc {
  font-size: var(--font-size-subheading);
  position: absolute;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 0%);
  margin-top: var(--spacing-small);
}

.banner__intro--desc:nth-child(1) {
  animation-name: fade;
  animation-fill-mode: both;
  animation-iteration-count: infinite;
  animation-duration: 5s;
  animation-direction: alternate-reverse;
}

.banner__intro--desc:nth-child(2) {
  animation-name: fade;
  animation-fill-mode: both;
  animation-iteration-count: infinite;
  animation-duration: 5s;
  animation-direction: alternate;
}

@keyframes fade {
  0%,
  45% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

/* Intro Animation End */

.banner__ctbutton button {
  margin-top: var(--spacing-extra-big);
  font-size: var(--font-size-medium);
  font-weight: 700;
  width: 250px;
  height: 60px;
  border: 2px solid var(--color-mint);
  background-color: transparent;
  border-radius: 40px;
  color: var(--color-white);
  transition: 300ms ease-in-out;
}

.banner__ctbutton button:hover {
  background-color: var(--color-mint);
}

/* MAIN BANNER END */

/* ----------------------------------------------------- */

/* CONTENT ABOUT */

.about__heading {
  position: relative;
}

.about__heading h1 {
  font-family: "Montserrat", sans-serif;
  font-size: var(--font-size-big);
  font-weight: 600;
  text-align: center;
  color: var(--color-big-title);
  margin: var(--spacing-big);
}

.about__heading--title {
  z-index: 1;
  width: 200px;
  background-color: var(--color-white);
  text-align: center;
}

.about__heading--line::after {
  content: "";
  position: absolute;
  top: 20px;
  height: 1px;
  width: 100%;
  background-color: var(--color-big-title);
  z-index: -1;
}

.about__left--image img {
  width: 160px;
}

.about__left {
  font-family: "Noto Sans KR", sans-serif;
  text-align: center;
  float: left;
  width: 40%;
  transform: translateY(30%);
}

.about__left--desc {
  padding: var(--spacing-semi-medium);
}

.about__left--desc div {
  padding: var(--spacing-xxsmall);
  font-size: var(--font-size-medium);
}

.about__left--desc div:nth-child(1) {
  font-weight: 700;
  font-size: var(--font-size-semi-big);
}

.about__right {
  display: flex;
  flex-direction: column;
  width: 60%;
  padding-right: var(--spacing-big);
}

.about__eng--title div {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: var(--font-size-semi-big);
}

.about__eng--title div:nth-child(1) {
  width: 160px;
  box-shadow: inset 0 20px 0 0 white, inset 0 34px 0 0 var(--color-mint-opacity);
}

.about__eng--desc {
  margin-top: var(--spacing-medium);
  margin-bottom: var(--spacing-big);
}

.about__eng--desc p {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: var(--font-size-medium);
  color: var(--color-gray);
  line-height: 2;
}

.about__right--kor {
  font-family: "Noto Sans KR", sans-serif;
}

.about__kor--title span {
  font-size: var(--font-size-semi-big);
  font-weight: 700;
}

.about__kor--title span:nth-child(2) {
  box-shadow: inset 0 20px 0 0 white, inset 0 34px 0 0 var(--color-mint-opacity);
}

.about__kor--desc {
  margin-top: var(--spacing-medium);
  margin-bottom: var(--spacing-medium);
  color: var(--color-gray);
}

.about__kor--desc p {
  font-size: var(--font-size-medium);
  line-height: 2;
}

.about__kor--info li {
  display: inline-block;
}

.about__kor--info li:nth-child(1) {
  margin-right: var(--spacing-semi-medium);
  margin-bottom: var(--font-size-small);
}

.about__kor--info i {
  margin-right: var(--spacing-small);
  text-align: center;
}

.about__kor--info ul > li > span {
  color: var(--color-blue);
  font-weight: 700;
}

.about__kor--messenger {
  margin-bottom: var(--font-size-big);
  margin-top: var(--spacing-small);
}

.about__kor--messenger span {
  font-weight: 700;
}

.about__kor--messenger span:nth-child(2) {
  color: var(--color-blue);
  margin-left: var(--spacing-small);
}

/* CONTENT ABOUT END */

/* ----------------------------------------------------- */

/* CONTENT FEATURED LISTING */
.featured__heading {
  position: relative;
}

.featured__heading h1 {
  font-family: "Montserrat", sans-serif;
  font-size: var(--font-size-big);
  font-weight: 600;
  text-align: center;
  color: var(--color-big-title);
  margin: var(--spacing-big);
}

.featured__heading--title {
  z-index: 1;
  width: 410px;
  background-color: var(--color-white);
  text-align: center;
}

.featured__heading--line::after {
  content: "";
  position: absolute;
  top: 20px;
  height: 1px;
  width: 100%;
  background-color: var(--color-big-title);
  z-index: -1;
}

.cards {
  display: flex;
  flex-direction: column;
  font-family: "Noto Sans KR", sans-serif;
  padding: 0 var(--spacing-big);
}

.featured__card1,
.featured__card2,
.featured__card3 {
  display: flex;
  margin-bottom: var(--spacing-big);
}

.featured__card1--desc .title,
.featured__card2--desc .title,
.featured__card3--desc .title {
  font-weight: 600;
  font-size: var(--font-size-subheading);
}

.featured__card1--image,
.featured__card2--image,
.featured__card3--image {
  margin-right: var(--spacing-medium);
  position: relative;
}

.featured__card1 img,
.featured__card2 img,
.featured__card3 img {
  width: 400px;
  z-index: -1;
}

.featured__card1--image > .image--tag {
  width: 200px;
  height: 64px;
  background-color: var(--color-red);
  position: absolute;
  color: var(--color-white);
  font-size: var(--font-size-subheading);
  text-align: center;
  line-height: 64px;
  font-weight: 600;
  font-style: italic;
  right: 0;
  top: 20px;
}

.featured__card2--image > .image--tag {
  width: 200px;
  height: 64px;
  background-color: var(--color-yellow);
  position: absolute;
  color: var(--color-white);
  font-size: var(--font-size-subheading);
  text-align: center;
  line-height: 64px;
  font-weight: 600;
  font-style: italic;
  right: 0;
  top: 20px;
}

.featured__card3--image > .image--tag {
  width: 240px;
  height: 64px;
  background-color: black;
  position: absolute;
  color: var(--color-white);
  font-size: var(--font-size-subheading);
  text-align: center;
  line-height: 64px;
  font-weight: 600;
  font-style: italic;
  right: 0;
  top: 20px;
}

.featured__card1--desc,
.featured__card2--desc,
.featured__card3--desc {
  line-height: 2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.description p {
  font-size: var(--font-size-small);
  line-height: 2;
  display: -webkit-box;
  -webkit-line-clamp: 6;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.more {
  color: var(--color-gray);
  font-style: italic;
}

.more:hover {
  color: var(--color-lightgray);
  transition: 0.4s ease-in-out;
}

/* CONTENT FEATURED LISTING END */

/* ----------------------------------------------------- */

/* CONTACT ME */
.contact_wrap {
  padding-bottom: var(--spacing-big);
}

.contact__heading {
  position: relative;
}

.contact__heading h1 {
  font-family: "Montserrat", sans-serif;
  font-size: var(--font-size-big);
  font-weight: 600;
  text-align: center;
  color: var(--color-big-title);
  margin: var(--spacing-big);
}

.contact__heading--title {
  z-index: 1;
  width: 310px;
  background-color: var(--color-white);
  text-align: center;
}

.contact__heading--line::after {
  content: "";
  position: absolute;
  top: 20px;
  height: 1px;
  width: 100%;
  background-color: var(--color-big-title);
  z-index: -1;
}

.contactme .contact_wrap {
  display: flex;
  justify-content: space-evenly;
  padding-left: var(--spacing-big);
  padding-right: var(--spacing-big);
}

.contact__left {
  font-family: "Lato", sans-serif;
  margin-right: var(--spacing-big);
  margin-bottom: var(--spacing-medium);
}

.contact__left h1 {
  font-size: var(--spacing-semi-medium);
  margin-bottom: var(--spacing-semi-medium);
}

.contact__left p {
  margin-bottom: var(--spacing-semi-medium);
}

.contact__left .left {
  width: 100px;
}

.contact__left .right {
  color: var(--color-blue);
  font-weight: 700;
}

.contact__left--phoneandmes .mobile,
.contact__left--phoneandmes .office,
.contact__left--phoneandmes .email,
.contact__left--phoneandmes .kakaotalk {
  display: flex;
}

.contact__right {
  width: 100%;
}

.contact__right form {
  display: flex;
  flex-direction: column;
  font-family: "Noto Sans KR", sans-serif;
}

.contact__right form > input {
  margin-bottom: var(--spacing-small);
}

input,
textarea {
  color: var(--color-black);
  padding: 12px 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
  cursor: pointer;
}

label {
  margin-bottom: var(--spacing-xsmall);
}

input:focus {
  border: 1px solid var(--color-mint);
}

.contact__right form > button {
  margin: var(--spacing-big) 0;
  font-size: var(--font-size-medium);
  font-weight: 700;
  width: 200px;
  height: 60px;
  border: 2px solid var(--color-mint);
  background-color: transparent;
  border-radius: 40px;
  color: var(--color-mint);
  transition: 300ms ease-in-out;
}

.contact__right form > button:hover {
  background-color: var(--color-mint);
  color: var(--color-white);
}

/* CONTACT ME END */
/* ----------------------------------------------------- */

/* FOOTER */

.footer {
  font-family: "Lato", sans-serif;
  background-color: #f4f4f4;
}

.footerwrap {
  padding: var(--spacing-big);
  display: flex;
  justify-content: space-around;
}
.footer__left img {
  max-width: 120px;
  margin-right: var(--spacing-medium);
}

.footer__left {
  width: 100%;
  display: flex;
  align-items: center;
}

.footer__leftwrap {
  min-width: 100%;
}

.footer__right img {
  max-width: 120px;
  margin-right: var(--spacing-medium);
}

.footer__right .mobile,
.footer__right .office,
.footer__right .email,
.footer__right .kakaotalk {
  display: flex;
  margin-bottom: var(--spacing-xsmall);
}

.footer__right .left {
  width: 100px;
}

.footer__right .right {
  color: var(--color-blue);
  font-weight: 700;
}

.footer__right {
  width: 100%;
  display: flex;
  align-items: center;
}

.footer__copyright {
  text-align: center;
  padding: var(--spacing-medium);
}
/* FOOTER END */

/* >= 768px */
@media screen and (max-width: 768px) {
  /* Reset */
  .container {
    width: 100%;
  }

  /* Header */
  .header__left {
    display: none;
  }

  .header {
    padding-left: var(--spacing-xsmall);
    z-index: 1;
    width: 100%;
    position: fixed;
    background-color: rgba(6, 40, 57, 0.8);
  }

  .header__hamburger {
    display: block;
  }

  /* Navigation */
  nav.top {
    display: none;
  }

  /* Content - About */
  .about .container {
    display: flex;
    flex-direction: column;
  }

  .about__left {
    float: none;
    width: 100%;
    transform: none;
  }

  .about__right {
    width: 100%;
    align-items: center;
    padding-right: 0;
    padding: var(--spacing-medium);
  }

  .about__heading--title {
    width: 100%;
  }

  .about__heading--line::after {
    display: none;
  }

  /* Content - Featured Listings */
  .featured__heading--title {
    width: 100%;
  }

  .featured__card1,
  .featured__card2,
  .featured__card3 {
    flex-direction: column;
  }

  .cards .title {
    margin-top: var(--spacing-medium);
  }

  .cards .more {
    margin-top: var(--font-size-medium);
  }

  .featured__card1--image,
  .featured__card2--image,
  .featured__card3--image {
    width: 100%;
  }

  .cards img {
    width: 100%;
  }

  .cards {
    padding: var(--spacing-medium);
  }

  /* FOOTER END */

  /* Content - Contact Me */
  .contact__heading--title {
    width: 100%;
  }

  .contactme .contact_wrap {
    flex-direction: column;
    padding-left: var(--spacing-medium);
    padding-right: var(--spacing-medium);
  }

  .contact__left--phoneandmes .mobile,
  .contact__left--phoneandmes .office,
  .contact__left--phoneandmes .email,
  .contact__left--phoneandmes .kakaotalk {
    flex-direction: column;
    margin-bottom: var(--spacing-small);
  }

  /* FOOTER */

  .footer img {
    display: none;
  }
  .footerwrap {
    flex-direction: column;
    padding: var(--spacing-medium);
  }

  .footer__rightwrap {
    width: 100%;
  }

  .footer__right .right {
    width: 100%;
  }

  .footer__left {
    padding-bottom: var(--spacing-semi-medium);
  }
}

@media screen and (max-width: 425px) {
  .footer .mobile,
  .footer .office,
  .footer .email,
  .footer .kakaotalk {
    flex-direction: column;
    margin-bottom: var(--spacing-small);
  }
}
